* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "open-sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
}

.homediv {
    height: 100vh;
    background-color: black;
    color: white;
}
